<div *ngIf="flag" class="backdrop h-100 w-100 position-fixed top-0 start-0 d-flex justify-content-center align-items-center text-center">
    <div class="bg-primary px-4 pt-4 rounded-4">
        <img src="../../../assets/victoria.gif" class="w-50">
        <p class="text-success fs-2 py-2">¡Ganaste!</p>
        <button class="btn btn-success m-2" (click)="reintentar_click()">Jugá de nuevo</button>
        <button class="btn btn-info m-2" routerLink="">Volver al menú principal</button>
    </div>
</div>
