<div class="container-fluid p-5 d-flex justify-content-center align-items-center">
    <div class="row justify-content-evenly align-items-center">
        <div class="text-center col-md-8 col-lg-6">
            <h1>404</h1>
            <h2>Página no encontrada</h2>
            <p>El recurso solicitado no pudo encontrarse en el servidor.</p>
        </div>
        <div class="text-center col-md-8 col-lg-6 col-xl-4 p-5">
            <img src="../../../assets/404.gif" class="w-100">
        </div>
    </div>
</div>
