<div class="container-fluid d-flex p-5 justify-content-center align-items-center">
    <div class="row justify-content-evenly align-items-center">
        <div class="text-center col-md-8 col-lg-6 col-xl-4 p-5">
            <img src="../../../assets/Profile.jpeg" class="w-100 rounded-circle">
        </div>
        <div class="text-start col-md-8 col-lg-6">
            <h1 class="text-center mb-5">Quién Soy</h1>
            <h3 class="mb-4">Nombre: Lorenzo Nahuel Cea Ko</h3>
            <h3 class="mb-4">Curso: 4°B</h3>
            <h3 class="mb-4">Fecha de nacimiento: 24 de mayo</h3>
            <h3 class="mb-4">Género: Masculino</h3>
        </div>
    </div>
</div>