<div class="p-5">
    <button type="button" routerLink="" class="btn btn-info m-2">&LessLess; Volver</button>
    <button type="button" (click)="instrucciones = true" class="btn btn-secondary m-2">Instrucciones</button>
    <div class="container row pt-2">
        <div class="text-center">
            <div class="vidas text-center mb-3 fs-4">
                <span>Vidas:</span>
                <fa-icon [icon]="heart" class="ps-1 text-danger" *ngFor="let v of vida"></fa-icon>
            </div>
            <div id="palabra" class="text-center mb-5">
                <button *ngFor="let char of palabra" class="btn btn-outline-light p-3 fs-1 text-info" disabled>{{ char }}</button>
            </div>
            <div id="teclado" class="text-center">
                <div>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">Q</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">W</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">E</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">R</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">T</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">Y</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">U</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">I</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">O</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">P</button>
                </div>
                <div>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">A</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">S</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">D</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">F</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">G</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">H</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">J</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">K</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">L</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">Ñ</button>
                </div>
                <div>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">Z</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">X</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">C</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">V</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">B</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">N</button>
                    <button type="button" (click)="seleccionarLetra($event)" class="btn btn-outline-primary p-3 fs-2">M</button>
                </div>
            </div>
        </div>
    </div>
</div>

<pantalla-victoria [flag]="ganaste" (reintentar)="ngOnInit()"></pantalla-victoria>
<pantalla-derrota [flag]="perdiste" (reintentar)="ngOnInit()"></pantalla-derrota>

<div *ngIf="instrucciones" class="backdrop h-100 w-100 position-absolute top-0 start-0 d-flex justify-content-center align-items-center text-center">
    <div class="bg-primary px-4 pt-4 rounded-4 col-md-6">
        <h2 class="py-2">Instrucciones del Ahorcado</h2>
        <div class="text-start">
            <p class="text-white">El objetivo del juego es descubrir la palabra oculta.</p>
            <p class="text-white">Para esto, deberás utilizar el teclado en pantalla, seleccionando las letras que creas que contiene la palabra oculta.</p>
            <p class="text-white">Si el caracter seleccionado forma parte de la palabra, se relevarán todas las coincidencias. Caso contrario perderás una vida.</p>
            <p class="text-white">En cualquier caso, una vez presionada una tecla, se desactivará.</p>
            <p class="text-white">Iniciarás el juego con siete <strong class="text-light">(7)</strong> vidas. Al llegar a cero <strong class="text-danger">(0)</strong> vidas, o <strong class="text-success">revelar la palabra</strong>, el juego se termina.</p>
            <p class="text-white">Si ya estás listo, presioná el botón de abajo y ¡Comencemos!</p>
        </div>
        <button class="btn btn-info m-2" (click)="instrucciones = false">Jugar</button>
    </div>
</div>